
@font-face 
{
	font-family: nx;
	src: url('KozGoPro-ExtraLight.otf');
    
}
@font-face
{
    font-family: nx2;
    src: url('KozGoPro-Medium.otf');
}
@font-face 
{
    font-family: nx3;
    src: url('Cyclo_Trial.otf');
}
body {background-color: white;}
p.px 
{
    font-smooth: always;
    line-height: 92%;
    font-family: nx;
    font-size: 75px;
    text-transform: uppercase;
    text-shadow: #fff 0px 1px 1px;
}
p.bold
{
    font-smooth: always;
    font-family: nx2;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: #fff 0px 1px 1px;
}
p.small
{
    font-smooth: always;
    font-family: nx3;
    font-size: 14px;
    padding-top:63px;
    padding-bottom:10px;
    padding-right:30px;
    padding-left:10px;
    text-transform: uppercase;
    text-shadow: #fff 0px 1px 1px;
    letter-spacing: -2px;
    
    
}

#sticker 
{
    
    width: 150px;
    height: 150px;
    background-image: url('sticker.png');
    
    
}
#sticker:hover{cursor: pointer; background-image: url('sticker-hover.png');}

body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:5%;
   position:relative;

}
#header {
   
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:10px;   
}
#footer {
   position:absolute;
   bottom:0px;
   width:60%;
   height:10px;   
   
}