.categories{
    list-style: none;
    font-size: 50px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: BebasNeue;
    
}



.submenu{
    height: 300px;
    background-color: black;
    width: 25px;
    margin-right: 1px;
    float: left;
    color: white;
    cursor: pointer;
}

.subcontainer{
    width: 0px;
    height: 300px;
    float:left;
}

.subcontaineractive{
    width: 410px;
    height: 300px;
    float:left;
    
}