
#treetable td ul{
    list-style-type: none;
    font-size: 10px;
}

.blacktree {
    background-color: black;
    color: white;
    cursor: pointer;
}

.whitetree {
    background-color: white;
    color: black;
    cursor: pointer;
    border: solid 1px black;
}

.pointerscount{
    color: green;
}

.partnerscount{
    color: red;
}