@font-face {
	font-family: BebasNeue;
	src: url('../fonts/BebasNeue.otf');
}

@font-face {
	font-family: ebrima;
	src: url('../fonts/ebrima.ttf');
}

@font-face {
	font-family: KozGoPro-ExtraLight;
	src: url('../fonts/KozGoPro-ExtraLight.ttf');
}