#adsshow{
    width: 900px;
    height: 300px;
    margin-top: 200px;
    background-color: #CDCDCD;
    
}

#adsfixer{
    position: relative;
    width: 1500px;
    height: 250px;
    background-color: #B4B4B4;
    right: 200px;
    overflow: hidden;
}



#adscontainer{
    right: 900px;
    position: relative;
    width: 3000px;
    height: 200px;
}

.big{
    background-color: aqua;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 5px;
}

.small{
    background-color: fuchsia;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 5px;
    margin-top: 100px;
}