.whiteclock{
    color: black;
    background-color: white;
}

.blackclock{
    color: white;
    background-color: black;   
}

#clock td{
    border: solid black 1px;
    width: 125px;
    height: 30px;
    
}

#clock{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 86px;
}

.clocknumbers{
    font-size:50pt;
    text-align: right;
    font-family: KozGoPro-ExtraLight;
    text-shadow: #000000 0px 0px 1px;
}

.clocktitle{
    text-align: left;
    font-size: 12pt;
    text-transform: uppercase;
    font-family: ebrima;
    
    
}