.clocktitle{
    color: #FE1Fc2;
    text-shadow: #FE1Fc2 0px 0px 1px;
}

.categories:hover{
    color: #FE1Fc2;
    font-family: BebasNeue;
    text-shadow: #FE1Fc2 0px 0px 1px;
}


.color{
    color: #FE1FC2;
    text-shadow: #FE1Fc2 0px 0px 1px;
}