.clocktitle{
    color: #10B1DD;
    text-shadow: #10B1DD 0px 0px 1px;
}

.categories:hover{
    color: #10B1DD;
    font-family: BebasNeue;
    text-shadow: #10B1DD 0px 0px 1px;
}

.color{
    color: #10B1DD;
    text-shadow: #10B1DD 0px 0px 1px;
}