.categories{
    list-style: none;
    font-size: 50px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: BebasNeue;
}

.black{
    color: black;
    text-shadow: #000000 0px 0px 1px;
}

.categories:hover{
    cursor: pointer;
    
}



.submenu{
    height: 300px;
    background-color: black;
    width: 25px;
    margin-right: 1px;
    float: left;
    color: white;
    cursor: pointer;
}

.subcontainer{
    width: 0px;
    height: 300px;
    float:left;
    overflow: hidden;
}

.subcontaineractive{
    height: 300px;
    float:left;
    
}

.subcontainernotactive{
    height: 300px;
    float:left;
    
}